*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif/*'Poppins', arial;*/
}
.header{
    width: 100%;
    height: 100vh; 
    background: url(images/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.side-nav{
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition:0.5s;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.user div{
    display: none;
}
.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
.star-img{
    width: 20px;
    display: none;
}
ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-right: 0px;
}
ul li p{
    white-space: nowrap;
    display: none;
}
.side-nav:hover{
    width: 270px;
}
.side-nav:hover .user div{
    display: block;
}
.side-nav:hover .user{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.side-nav:hover .star-img{
    display: block;
}
.side-nav:hover .user-img{
    margin: 0;
}
.side-nav:hover ul li p{
    display: block;
}
.side-nav:hover ul li img{
    margin-right: 10px;
}
.side-nav:hover ul li{
    justify-content: flex-start;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-1{
    flex-basis: 60%;
    font-family:'Times New Roman', Times, serif;
    color:bisque;
    position:relative;
    margin-top: 50px;
    margin-left: 300px;
}
.col-1 h1{
    font-size: 40px;
}
.col-1 h2{
    font-size: 36px;
}
.col-1 h3{
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 10px
}
.col-1 p{
    font-size: 16px;
    font-style: italic;
    color: #b7b7b7;
    font-weight: 100;
    margin: 10px 0;
}
button{
    font-size: 12px;
    border: 0;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283,  #ff3527);
    cursor: pointer;
}
.button1 {
    width: 130px;
    padding: 12px 10px;
    border-radius: 6px;
    transition: width 0.5s;
}
.button2 {
    width: 70px;
    padding: 25px 12px;
    border-radius: 50%;
    position: fixed;
    left: 350px;
    top: 350px;
}
.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 10;
}
.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
button img{
    width: 10px;
    display:none;
}
button .button1:hover img{
    display: block;
}
button .button1:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: "";
    width: 5px;
    height: 70%;
    background: linear-gradient(#ff469f, #ff6062);
    position:absolute;
    left:-30px;
    top: 5px;
}
.col-2 {
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}
.col-2 .lop1_icon{
    width: 80%;
    margin-top: 100px;
}
.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(10px);
}